body {
  font-family: "Kiwi Maru", serif;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
  scrollbar-color: #0004 transparent;
  font-size: 0.8em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Kiwi Maru", serif;
  font-weight: 300;
  margin: 0;
}

/* < 480px */
@media (max-width: 480px) {
  body {
    font-size: 0.6em;
  }
}

* {
  box-sizing: border-box;  
}

::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-track-piece {
  background: transparent;
}

.no-scrollbar {
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display:none;  
}

.bgBlur4 {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.bgBlur8 {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }  
}

@keyframes pop {
  0% {
    opacity: 0;
    scale: 0.7;
    animation-timing-function: cubic-bezier(.09,.73,.33,1);
  }
  70% {
    opacity: 1;
    scale: 1.05;
    animation-timing-function: ease-out;
  }
  100% {
    scale: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}